 


@mixin flex-container($direction: row) {
  display: -webkit-box; // Old versions of Safari
  display: -ms-flexbox; // IE 10
  display: flex;
  flex-direction: $direction;
}
  
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
// Mixin for buton

@mixin button-style($bg-color) {
  background-color: $bg-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 200px; 
  &:hover {
    background: linear-gradient(45.77deg, #6a027f 0%, rgba(51, 102, 136, 0.84) 53%, #0cac8e 96%);
  }
}




// Define a mixin for the input field
@mixin input-field-style($font-size: 16px, $border-radius: 50px) {
  font-size: $font-size;
  border-radius: $border-radius;
  padding: 10px 20px;  
  border: 1px solid #2c2c2c; 
  width: 100%;  
  color: $text-color;
  transition: border-color 0.3s ease-in-out;  
  
  &:focus {
    outline: none;   
    border-color: $primary-color;  
    box-shadow: 0 2px 2px 1px rgb(235, 189, 255);
  }
}

// Usage example
.form-control {
  @include input-field-style();

}

textarea.form-control{
  border-radius: 25px;
}



// Define the mixin for card styles
@mixin card-style {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

// Use the mixin in .feature-card
.feature-card {
  @include card-style;
}

// Use the mixin in .new-card
.new-card {
  @include card-style;
}




  // Responsive font sizes using the mixin
  @include respond-max(large) {
    h1 {
      font-size: 45px;
      line-height: 55px;
    }
  
    body, p {
      font-size: 15px;
    }
  }
  
  @include respond-max(medium) {
    h1 {
      font-size: 40px;
      line-height: 50px;
    } 
  }
  
  @include respond-max(small) {
    h1 {
      font-size: 35px;
      line-height: 45px;
    } 
  }
 
  